* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  overflow-x: hidden;
}

body {
  background-color: #0F0F10;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(85% - 30px);
  margin-inline: auto;
}

.about {
  color: #ebebfa;
  font-size: 18px;
  font-family: "Inter", serif;
}

.projects {
  color: #ebebfa;
  font-size: 16px;
  margin-block: 1rem;
  font-family: "Raleway", serif;
  max-width: 678.175px;
  margin-inline: auto;
}

.project {
  border-left: 1px solid #ebebfa;
  margin-block: 1.5rem;
  padding-inline-start: 1rem;
}

.projects p {
  margin-block: .5rem;
}

.projects a,
footer a {
  text-decoration: underline;
  color: #ebebfa;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
}

footer > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

footer div a {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "Inter", serif;
  gap: .15rem;
}

footer a:hover {
  color: #d2d2e6;
  text-decoration: none;
}