* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  overflow-x: hidden;
}

body {
  background-color: #f3f4f6;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: calc(.75rem + 1.5vw);
  margin-bottom: 1rem;
  text-align: left;
  font-family: "Atkinson Hyperlegible Next", serif;
  color: #252c38;
}

.relative {
  position: relative;
}

textarea {
  resize: none;
  outline: none;
  width: calc(15rem + 20vw);
  padding-block: 1rem;
  padding-inline: .5rem;
  border: 2px solid #e1e0e8;
  border-radius: 5px;
  height: auto;
  font-size: 18px;
  font-family: "Outfit", serif;
  color: #252c38;
}

.absolute {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-family: "Atkinson Hyperlegible Next", serif;
  color: #252c38;
}